* {
    box-sizing: border-box;
  }
  
  body{
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  justify-content: center;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  
  .button {
    min-width: 100px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background:#9340ec ;
  background: linear-gradient(90deg, #9340ec 0%, #9340ec 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #9340ec;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    left: 270px;
    text-shadow: 0 0 8px black;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    width: 150px;
    height: 80px;
    border: 6px solid #9340ec;
    box-shadow: 0 0 60px #9340ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    
  }
  
  .button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  
  
  .button2 {
    min-width: 100px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #9340ec;
  background: linear-gradient(90deg, #9340ec 0%, #9340ec 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #9340ec;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    left: 100px;
    text-shadow: 0 0 8px black;
    }
  
  .button2::before {
  content: '';
    border-radius: 1000px;
    width: 170px;
    height: 80px;
    border: 6px solid #9340ec;
    box-shadow: 0 0 60px #9340ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    
  }
  
  .button2:hover, .button2:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button2:hover::before, button2:focus::before {
    opacity: 1;
  }
  
  
  
  .button3 {
    min-width: 100px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #9340ec;
  background: linear-gradient(90deg, #9340ec 0%, #9340ec 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #9340ec;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    text-shadow: 0 0 8px black;
    right: 70px;
    }
  
  .button3::before {
  content: '';
    border-radius: 1000px;
    width: 170px;
    height: 80px;
    border: 6px solid #9340ec;
    box-shadow: 0 0 60px #9340ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    
  }
  
  .button3:hover, .button3:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button3:hover::before, button3:focus::before {
    opacity: 1;
  }
  
  
  
  
  .button4 {
    min-width: 100px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #9340ec;
  background: linear-gradient(90deg, #9340ec 0%, #9340ec 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #9340ec;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    text-shadow: 0 0 8px black;
    right: 240px;
    }
  
  .button4::before {
  content: '';
    border-radius: 1000px;
    width: 135px;
    height: 80px;
    border: 6px solid #9340ec;
    box-shadow: 0 0 60px #9340ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    
  }
  
  .button4:hover, .button4:focus {
    color: white;
    transform: translateY(-6px);
  }
  
  button4:hover::before, button4:focus::before {
    opacity: 1;
  }

  
  .anim {
    position: absolute;
    height: 1vh;
    width: 2vw;
    top: 4vh;
   left: 50vw;
  
    background: #9340ec;
    animation-duration: 4.5s;
    animation-name: glissement;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes glissement {

    from {
    width: 2vw;
    left: 50vw;
    }
    
    to {
    width: 48vw;
    left: 26vw;
    
    }
    }

.so {

width: 50vw;
height: 20vh;
background: #7129be;
transition: all 2s;
border: none;
color: transparent;
position: absolute;
left: 25vw;
top: 25%;


}

.so:hover, .so:focus {

    height: 60vh;
    background: linear-gradient(180deg,#7129be,#5a05b5 70%);
    color: WHITE;
    padding-top: 100px;
    text-align: center;
    }

    .phrase {

color: white;
font-size: 2em;
position: absolute;
left: 35vw;
top: 30vh;
z-index: 1;


    }

    .clic {

        color: white;
        font-family: Coiny;
       font-size: small;
       position: absolute;
       top: 11vh;
       left: 22vw;

    }